<div class="note" data-index="{{ index }}">
    <div class="note__header">
        <h3 class="note__caption">Note #{{ index }}</h3>
        <div class="note__actions">
            <button class="note__action note__action--importance">!</button>
            <button class="note__action note__action--remove">X</button>
        </div>
    </div>
    <h2 class="note__title">{{ title }}</h2>
    <p class="note__desc">{{ description }}</p>
</div>