<div class="category-form form">
    <div class="form__block">
        <label for="category_name" class="form__label">Название</label>
        <input id="fullname" name="category_name" type="text" class="form__input"
            placeholder="Введите название продукта..." />
    </div>
    <div class="form__block">
        <label for="category_image" class="form__label">Картинка:</label>
        <input id="fullname" name="category_image" type="text" class="form__input"
            placeholder="Введите ссылку картинки..." />
    </div>

</div>