<nav class="nav">
    <button class="nav__button nav__button--back">Вернуться к категориям</button>
    <p class="nav__cart">
        Продуктов в корзине:
        <span class="value">0</span>
    </p>
</nav>