<div class="product-form form">
    <div class="form__block">
        <label for="product_name" class="form__label">Название</label>
        <input id="fullname" name="product_name" type="text" class="form__input"
            placeholder="Введите название продукта..." />
    </div>
    <div class="form__block">
        <label for="product_category" class="form__label">Номер категории</label>
        <input id="fullname" name="product_category" type="text" class="form__input"
            placeholder="Введите Номер категории..." />
    </div>
    <div class="form__block">
        <label for="product_image" class="form__label">Картинка:</label>
        <input id="fullname" name="product_image" type="text" class="form__input"
            placeholder="Введите ссылку картинки..." />
    </div>
    <div class="form__block">
        <label for="product_amount" class="form__label">Количество:</label>
        <input id="fullname" name="product_amount" type="text" class="form__input"
            placeholder="Введите количество продукта..." />
    </div>
</div>