<div class="message">
    <div class="message__author">
        <span class="author__name">{{ author_name }} </span>
        <span class="status status--active" style="background-color: #{{ color }}"> </span>
    </div>

    <span class="message__text"> {{ text }} </span>
    <span class="message__date"> {{ date }} </span>
</div>