.status {
  display: flex;
  align-items: center;

  color: $white;
  margin-right: 20px;

  span {
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 1px solid $white;
    margin-left: 10px;
  }

  &::before {
    content: '';

    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;
  }

  &--active {
    &::before {
      background-color: $green;
    }
  }

  &--inactive {
    &::before {
      background-color: tomato;
    }
  }
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba($lime, 0.3);
  width: 100%;
  padding: 0 30px;
  min-height: 100vh;
}

.chat-area,
.chat-logs,
.button {
  padding: 10px 20px;
  border-radius: 8px;
  background-color: #fff;
  margin: 20px 0;
}

.chat-area,
.chat-logs {
  display: none;
  width: 100%;
  height: 300px;
  overflow-y: scroll;
}

h2.title {
  display: none;
}

.button {
  font-weight: bold;
  text-transform: uppercase;
  background-color: $black;
  color: $white;
  transition: 0.3s ease;
  cursor: pointer;

  &:hover {
    background-color: $white;
    color: $black;
  }
}

.chat {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: $black;
  margin: 0 -15px;
}

.chat-area {
  background-color: $lime;
}

.message {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.1);
  background-color: $white;
  padding: 10px;

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  &__author {
    display: flex;

    border-right: 1px solid rgba(0, 0, 0, 0.8);

    & > .author__name {
      font-weight: bold;
      font-size: 18px;
    }

    & > .status {
      margin-left: 10px;
      margin-right: 10px;
      border-radius: 50%;
      width: 20px;
      height: 20px;

      &::before {
        display: none;
      }
    }
  }

  &__text {
    flex-grow: 2;
    margin-left: 20px;
  }

  &__date {
    font-weight: bold;
  }
}

.log {
  padding: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  width: 100%;

  padding: 20px;
  margin-top: 20px;
}

label {
  display: flex;
  font-weight: bold;
  margin-right: 20px;

  input,
  textarea {
    margin-left: 10px;
    padding: 10px;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
  }
}

textarea {
  border: none;
  width: 50%;
  resize: none;
}

.send-message-form {
  display: none;
}

body {
  &.joined {
    .send-message-form {
        display: flex;
    }

    .chat-area,
    .chat-logs {
      display: block;
    }

    h2.title {
      display: block;
    }

    .auth-panel {
      display: none;
    }
  }
}

.users-amount {
  color: $white;

  .value {
    font-weight: bold;
    border-bottom: 1px solid $white;
  }
}
