* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.header {
    height: 20vh;
    background-color: green;
}

.footer {
    height: 20vh;
    background-color: blue;
}

.main {
    height: 60vh;
    background-color: gray;

    background-image: url(../assets/traversing.png);
}