* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.header {
    height: 10vh;
    background-color: greenyellow;
}

.footer {
    height: 10vh;
    background-color: black;
}

.main {
    height: 80vh;
    background-color: gray;

    background-image: url(../assets/traversing.png);
}